.editor {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  margin: 0 24px;
  width: 750px;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 2px 12px 0 rgb(0 0 0 / 5%);
}

.editor .component {
  border: 1px solid #ccc;
}

.editor .actived-component {
  border: 1px solid #40a9ff;
  cursor: move;
}
