.drawing-wrap {
  position: relative;
  width: 100%;
  height: 100%;
}

.drawing-item {
  position: absolute;
  top: 100px;
  left: 100px;
  box-sizing: border-box;
  width: 100px;
  height: 100px;
  background-color: #ccc;
  cursor: move;

}

.control-point {
  position: absolute;
  display: inline-block;
  box-sizing: border-box;
  padding: 4px;
  border: 1px solid #c0c5cf;
  background: #fff;
  box-shadow: 0 0 2px 0 rgba(86, 90, 98, .2);
  transform: translate(-4px, -4px);
  user-select: none;
}

.control-point.point-e {
  top: 50%;
  left: 100%;
  cursor: ew-resize;
}

.control-point.point-n {
  left: 50%;
  cursor: ns-resize;
}

.control-point.point-s {
  top: 100%;
  left: 50%;
  cursor: ns-resize;
}

.control-point.point-w {
  top: 50%;
  left: 0;
  cursor: ew-resize;
}

.control-point.point-ne {
  left: 100%;
  cursor: nesw-resize;
}

.control-point.point-nw {
  cursor: nwse-resize;
}

.control-point.point-se {
  top: 100%;
  left: 100%;
  cursor: nwse-resize;
}

.control-point.point-sw {
  top: 100%;
  cursor: nesw-resize;
}


.edit-box {
  border: 1px solid #ccc;
  cursor: move;
  position: absolute;
}
